.hardware-questions {
  display: block;
  width: 750px;
  height: 400px;
  border-radius: 50px;
  margin: 0 auto;
  background-color: #212A3E;
  color: #F1F6F9;
  box-shadow: 0px 0px 25px -12px #212A3E;
}

.question {
  padding-top: 15px;
  text-align: center;
}

.network-btn {
  display: block;
  background-color: #394867;
  color: #F1F6F9;
  border: none;
  font-size: 1.5rem;
  padding: 10px 35px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
}
.mechanic-btn {
  display: block;
  background-color: #394867;
  color: #F1F6F9;
  border: none;
  font-size: 1.5rem;
  padding: 10px 35px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
}
.support-btn {
  display: block;
  background-color: #394867;
  color: #F1F6F9;
  border: none;
  font-size: 1.5rem;
  padding: 10px 35px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
}
.network-btn:hover, .mechanic-btn:hover, .support-btn:hover {
  background-color: #F1F6F9;
  color: #394867;
}

.active {
  background-color: greenyellow;
  color: darkgreen;
}

