<div class="hardware-questions">
    <h1 class="question">What field do you want to choose?</h1>
    <div class="answers">
      <a routerLink="/network">
        <button class="network-btn" (click)="setActiveButton('network')">
          <i class="fa-solid fa-network-wired"></i> Network
        </button>
      </a>
      <a routerLink="/mechanic">
        <button class="mechanic-btn" (click)="addHTML()" [innerText]="notNeeded">
          <i class="fa-solid fa-tools"></i> Mechanic
        </button>
      </a>
      <a routerLink="/support">
        <button class="support-btn" (click)="addHTML()" [innerText]="notNeeded">
          <i class="fa-solid fa-hands-helping"></i> Support
        </button>
      </a>
    </div>
</div>
